<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!--        &lt;!&ndash;Google SignIn&ndash;&gt;-->
        <!--        <meta name="google-signin-client_id"-->
        <!--              content="818472002702-opbmg8r9mbkg971qtopkpncckb3p97e9.apps.googleusercontent.com">-->

        <title>로그인 | ShowMeTheMoney</title>

        <script>
            function checkLoginStatus() {
                var loginBtn = document.querySelector('#loginBtn');
                var nameTxt = document.querySelector('#name');
                if (gauth.isSignedIn.get()) {
                    console.log('logined');
                    loginBtn.value = 'Logout';
                    var profile = gauth.currentUser.get().getBasicProfile();
                    console.log(profile.getName());
                    nameTxt.innerHTML = 'Welcome <strong>' + profile.getName()+'</strong>';
                } else {
                    console.log('logouted');
                    loginBtn.value = 'Login';
                    nameTxt.innerHTML = '';
                }
            }

            function init() {
                console.log('init');
                gapi.load('auth2', function () {
                    console.log('auth2');
                    window.gauth = gapi.auth2.init({
                        client_id: '818472002702-opbmg8r9mbkg971qtopkpncckb3p97e9.apps.googleusercontent.com'
                    })
                    gauth.then(function () {
                        console.log('googleAuth success');
                        checkLoginStatus();
                    }, function () {
                        console.log('googleAuth fail');
                    });
                })
            }

        </script>

    </head>
    <body>

        <!--        <div class="g-signin2" data-onsuccess="onSignIn"></div>-->

        <span id="name"></span>
        <input type="button" id="loginBtn" value="checking..." onclick="
            if(this.value === 'Login'){
                 gauth.signIn().then(function(){
                  console.log('gauth.signIn()');
                  checkLoginStatus();
                 });
            } else {
                 gauth.signOut().then(function(){
                 console.log('gauth.signOut()');
                  checkLoginStatus();
                   });
                  }
        ">

                <script src="https://apis.google.com/js/platform.js?onload=init"
                async
                defer></script>

    </body>


        <!--        .then이라고 하고 다시 함수를 호출하면 이 작업이 끝나면 다음 부를 함수 -->



</html>